.card-link {
    text-decoration: none;
    color: black;

    &:hover {
        color: unset;
        box-shadow: 0 0 12px 2px rgb(0 0 0 / 16%);
    }
}
.card {
    height: 100%;
    box-shadow: 0 0.0625rem 0.125rem rgb(0 0 0 / 11%), 0 0.1875rem 0.4375rem rgb(0 0 0 / 13%);

    &:hover {
        box-shadow: 0 0 12px 2px rgb(0 0 0 / 16%);
    }

    &-body {
        position: relative;
        padding-bottom: 50px;
    }

    &-image {
        text-align: center;
        background-color: #f1f1f1;
        padding: 16px;
        box-sizing: border-box;
        border-radius: 0.375rem 0.375rem 0 0;
    
        img {
            max-height: 150px;
        }
    }

    &-action {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
}